<%- include('../../include/head.ejs')  %>
<link rel="Stylesheet" href="/css/dashboard.css" />
<link rel="Stylesheet" href="/css/form.css" />
<link rel="Stylesheet" href="/css/notification-box.css" />
</head>
<body bgcolor="whitesmoke">
    <%- include('../../include/admin-nav.ejs') %>
    <div class="<%= errorDetails.find(e => e.msg != undefined) ? 'alert' : ''%> <%= errorMessage == 'Operation Successful' ? 'success' : errorMessage == '' ? '' : 'fail' %>">
        <span  class="closebtn" >&times;</span>
        <% if (errorDetails.length >= 1) { %>
            <div class="row">
                <div class="col s12 m8 transparent">
                    <h6><%= errorMessage %> </h6>
                    <% for( let index = 0; index < errorDetails.length; index++ ) { %>
                        <p><%= errorDetails[index].msg %> </p>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
    <div class="container">
        <div class="container">
            <h5>Add Category</h5>
            <div class="white">
                <p class="red-text">Fill in the form appropriately to create a new category</p>
                <div class="row">
                    <form action="/admin/categories/add-category" method="POST" class="col s12" encType="multipart/form-data">
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <label for="name">Name:</label>
                                <input name="name" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <label  for="imageUrl">Image:</label>
                                <input name="imageUrl" type="file">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s3">
                                <a class="btn-flat transparent red-text text-darken-4 cancel-btn">Cancel</a>
                            </div>
                            <div class="col offset-s1 s3">
                                <input type="submit" class="btn blue">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    
    <script src="js/adminScript.js"></script>
<%- include('../../include/end.ejs') %> 