<%- include('../../include/head.ejs')  %>
<link rel="Stylesheet" href="/css/dashboard.css" />
</head>
<body bgcolor="whitesmoke">
    <%- include('../../include/admin-nav.ejs') %>
    <div class="container">
        <div class="container">
            <h5>All Posts</h5>
            <% if (posts.length == 0) { %>
                <div class="white">
                    <div class="row">
                        <p class="col s12">Seems like no Post have beeen upload</p>
                    </div>
                </div>
            <% } %>
            <% for( let index = 0; index < posts.length; index++ ) { %>
                <article class="post white">
                    <div class="post-image">
                        <img src="<%= posts[index].imageUrl %>" alt="post image">
                    </div>
                    <div class="body">
                        <div class="title">
                            <p><%= posts[index].title %> </p>
                        </div>
                        
                        <div class="detail">
                            <p class="blogger">Author: <strong><%= posts[index].author %></strong></p>
                            <p class="date-time grey-text"><%= posts[index].date %></p>
                        </div>
                        <div class="content">
                            <p class="truncate"><%= posts[index].body %> 
                            <input type= "hidden" name="postId" value="<%= posts[index].id %>">
                            <div class="row">
                                <p class="col s6"><%= posts[index].category %> </p>
                                <p class="col s3 black-text"><%= posts[index].likes %><i class="material-icons left red-text">favorite</i></p>
                                <P class="col s3"><%= posts[index].noOfComments %>  <i class="material-icons left blue-text text-darken-3">comment</i></P>
                            </div>
                            </p>
                            <a href="/admin/posts/review-post/<%= posts[index].id %> " class="btn-small white-text btn-flat #0277bd light-blue darken-3">Review Post</a>
                            <button class="btn-small btn-flat transparent red-text postbtn">Delete Post</button>
                        </div>
                    </div>
                </article>
            <% } %>
        </div>
        
    </div>
    <script src="js/adminScript.js"></script>
<%- include('../../include/end.ejs') %> 