<%- include('./include/head.ejs')  %>
<link rel="stylesheet" href="/css/form.css"/>
<link rel = "stylesheet" href="/css/post.css"/>
</head>
<body bgcolor="whitesmoke">
    <%- include("./include/main-nav.ejs")  %>
    <div class="container">
        <div class="container">
            <h5 class="blue-text text-darken-3"><%= title %></h5> 
            <% if (posts.length == 0) { %>
                <div class="container white">
                    <div class="row">
                        <h6 class="col s12">Oohs no Post for this Category Found!!! 000 </h6>
                    </div>
                </div>
            <% } %>
            <% for( let index = 0; index < posts.length; index++ ) { %>
                <% if (posts[index].approved) { %>
                    <article class="post white">
                        <div class="post-image">
                            <img src="<%= posts[index].imageUrl %> " alt="post image">
                        </div>
                        <div class="body">
                            <div class="title">
                                <p><%= posts[index].title %> </p>
                            </div>
                        
                            <div class="detail">
                                <p class="blogger">Author: <strong><%= posts[index].author %> </strong></p>
                                <p class="date-time"><%= posts[index].date %></p>
                            </div>
                            <div class="content">
                                <p class="truncate"><%= posts[index].body %> 
                                <input type= "hidden" name="postId" value="<%= posts[index].id %>">
                                </p> <a href="/view-post/<%= posts[index].id %> " class="btn-small white-text btn-flat #0277bd light-blue darken-3">Read more</a>
                                <div class="row">
                                    <p class="col s6"><%= posts[index].category %> </p>
                                    <p class="col s3 black-text"><%= posts[index].likes %><i class="material-icons left red-text">favorite</i></p>
                                    <P class="col s3 black-text"><%= posts[index].noOfComments %>  <i class="material-icons left blue-text text-darken-3">comment</i></P>
                                </div>
                            </div>
                        </div>
                    </article>
                <% } else { %>
                    <% if (posts.length >= 1) {%> 
                    <div class="container white">
                        <div class="row">
                            <h5 class="col s12">Oohs no Post for this Category Found!!! </h5>
                        </div>
                    </div>
                    <% } %>
                    <% continue %>
                <% } %>
            <% } %>
        </div>
    </div>

    <script src="/js/script.js"></script>
<%- include('./include/end.ejs') %> 