<%- include('./include/head.ejs')  %>
<link rel="stylesheet" href="/css/form.css"/>
<link rel = "stylesheet" href="/css/post.css"/>
</head>
<body bgcolor="whitesmoke">
    <%- include("./include/main-nav.ejs")  %>

        <div class="container">
            <h3 class="blue-text text-darken-3">Welcome to Blogit</h3>
            <div>
                <p class="flow-text">
                  Blogit is where you write and read exciting, intriging posts all for free
                  You want to begin? ten click the below button to join 
                </p>
            </div>
            <a href="/login" class="btn-large waves-effect waves-light blue blue-darken-3 white-text ">Join Blogit ></a>
        </div>
        
        <% if (hotPosts.length <= 0) { %>
          <div class="slideshow-container">
            <% for( let index = 0; index < homePageImages.length; index++ ) { %>
              <div class="mySlides fade">
                <div class="numbertext"><%= index + 1 %>  / <%= hotPosts.length  %> </div>
                <img src="<%= homePageImages[index].image %> " style="width:100%">
                <div class="text"><%= homePageImages[index].name %> </div>
              </div>
            <% } %>
          </div>
        <% } %>
        <div class="container">
          <h5 style="padding: 10px;">Trending Posts</h5>
        </div>
        <div class="slideshow-container">

          <!-- Full-width images with number and caption text -->
          <% for( let index = 0; index < hotPosts.length; index++ ) { %>
            <div class="mySlides fade">
              <div class="numbertext"><%= index + 1 %>  / <%= hotPosts.length  %> </div>
              <img src="<%= hotPosts[index].imageUrl %>" style="width:100%">
              <div class="text"><%= hotPosts[index].title %> </div>
            </div>
          <% } %>
</div>
<br>

<!-- The dots/circles -->
<!-- <div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div> -->
    <hr style="width: 100%; border: 0.3px solid #ccc; margin: 30px 0" />
    
    <div class="container">
      <h5>All Posts</h5>
      <div class="container">
          <% for( let index = 0; index < posts.length; index++ ) { %>
            <% if (posts[index].approved) { %>
              <article class="post white">
                <div class="post-image">
                    <img src="<%= posts[index].imageUrl %>" alt="post image">
                </div>
                <div class="body">
                    <div class="title">
                        <p><%= posts[index].title %> </p>
                    </div>
                    
                    <div class="detail">
                        <p class="blogger">Author: <strong><%= posts[index].author %> </strong></p>
                        <p class="date-time"><%= posts[index].date %></p>
                    </div>
                    <div class="content">
                        <p class="truncate"><%= posts[index].body %> 
                        <input type= "hidden" name="postId" value="<%= posts[index].id %>">
                        </p> <a href="/view-post/<%= posts[index].id %> " class="btn-small white-text btn-flat #0277bd light-blue darken-3">Read more</a>
                        <div class="row">
                          <p class="col s6"><%= posts[index].category %> </p>
                          <p class="col s3 black-text"><%= posts[index].likes %><i class="material-icons left red-text">favorite</i></p>
                          <P class="col s3 blact-text"><%= posts[index].noOfComments %>  <i class="material-icons left blue-text text-darken-3">comment</i></P>
                        </div>
                    </div>
                </div>
            </article>
            <% } %>
              
          <% } %>
      </div>       
  </div>
  <div class="container">
    <h4 style="margin: 15px 0;">More Categories</h4>
    <div class="row white">
      <% for( let index = 0; index < cat.length; index++  ) { %>
          <a href="/posts/<%= cat[index].id %>" class="col s6 m4 l2 category"><%= cat[index].category %></a>
      <% } %>
    </div>
  </div>
    
    
    <script src="/js/script.js"></script>
<%- include('./include/end.ejs') %> 