<%- include('./include/head.ejs')  %>
<link rel="stylesheet" href="/css/form.css"/>
<link rel = "stylesheet" href="/css/post.css"/>
</head>
<body bgcolor="whitesmoke">
    <%- include("./include/main-nav.ejs")  %>

        <div class="container">
            <h1>What is Blogit?</h1>
            <div>
                <p>Lorem ipsum dolor dummy text to enable scrolling, sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor 
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
            </div>
            <a href="/login" class="btn-large waves-effect waves-light blue blue-darken-3 white-text ">Join Blogit ></a>
        </div>
        <div class="container">
          <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <% for( let index = 0; index < homePageImages.length; index++ ) { %>
              <div>
                <div class="mySlides fade">
                  <div class="numbertext flow-text"><%= ++index %>/<%= homePageImages.length %> </div>
                  <img src="img/<%= homePageImages[index].image %> " style="width:100%">
                  <p class="flow-text">Read and Create Posts on <%= homePageImages[index].name %> and lots more </p>
                </div>
              </div>
            <% } %>
            <!-- Next and previous buttons -->
          </div>
        </div>
    
      <br>
      
      <!-- The dots/circles -->
      <!-- <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div> -->
    <hr style="width: 100%; border: 0.3px solid #ccc; margin: 30px 0" />
    
    <div class="container">
      <h5>All Posts</h5>
      <div class="container">
          <% for( let index = 0; index < posts.length; index++ ) { %>
              <article class="post white">
                  <div class="post-image">
                      <img src="<%= posts[index].imageUrl %> " alt="post image">
                  </div>
                  <div class="body">
                      <div class="title">
                          <p><%= posts[index].title %> </p>
                      </div>
                      
                      <div class="detail">
                          <p class="blogger">Author: <strong><%= posts[index].author %> </strong></p>
                          <p class="date-time"><%= posts[index].date %></p>
                      </div>
                      <div class="content">
                          <p class="truncate"><%= posts[index].body %> 
                          <input type= "hidden" name="postId" value="<%= posts[index].id %>">
                          </p> <a href="/view-post/<%= posts[index].id %> " class="btn-small white-text btn-flat blue">Read more</a>
                          <div class="row">
                            <p class="col s6"><%= posts[index].category %> </p>
                            <p class="col s3 black-text"><%= posts[index].likes %><i class="material-icons left red-text">favorite</i></p>
                            <P class="col s3 blact-text"><%= posts[index].noOfComments %>  <i class="material-icons left blue-text">comment</i></P>
                          </div>
                      </div>
                  </div>
              </article>
          <% } %>
      </div>       
  </div>
    <div class="container">
      <h4 style="margin: 15px 0;">More Categories</h4>
      <div class="row white">
        <% for( let index = 0; index < cat.length; index++  ) { %>
            <a href="/posts/<%= cat[index].id %>" style="border: 1px solid #ccc; cursor: pointer; padding: 10px; margin: 10px 15px; border-radius: 20px; color: black;" class="col s4 m3 l2"><%= cat[index].category %></a>
        <% } %>
      </div>
    </div>
    
    <script src="/js/script.js"></script>
<%- include('./include/end.ejs') %> 