<%- include('./include/head.ejs')  %>
<link rel="Stylesheet" href="/css/form.css" />
</head>
<body bgcolor="whitesmoke">
    <%- include('./include/main-nav.ejs') %>
    <div class="container">
        <div class="container">
            <div class="white">
                <h4><%= post.title %> </h4>
                <p>Category: <strong class="blue-text"><%= post.category %> </strong></p>
            <div class="post-detail-image">
                <img src="<%= post.imageUrl %>" alt="post-image" class="image-post" >
            </div>
            <div class="post-detail-user-date">
                <div class="post-detail-user">
                    <div class="user-image">
                        <img src="img/header.jpg" alt="" class="circle">
                    </div>
                    <p class="flow-text blue-text"><%= post.author %> </p>
                </div>
                <p class="grey-text"><%= post.date %> </p>
            </div>
            <div class="row" >
                <div class="col s12">
                    <p style="text-align: left;"><%= post.body %> </p>
                </div>
            </div>            
        </div>
    </div>
</div>
            
    
    <div class="container">
        <h6>Comments</h6>
        <div class="container">
            <div class="white comment-box">
                <% if (comments.length == 0) { %>
                    <p class="flow-text red-text nocomment">No Comments available. Be the first to comment</p>
                <% } %>
                <% for( let index = 0; index < comments.length; index++ ) { %>
                    <div id="<%= comments[index].id %>">
                        <div class="row">
                            <img src="img/header.jpg" class="col s2 circle" alt="" srcset="">
                            <div class="col s3">
                                <p id = "name" class="col s12"><%= comments[index].name %></p>
                                <p class="col blue-text s12" id= "email"><%= comments[index].email %></p>
                            </div>                        
                            <p class="col offset-s3 offset-m3 offset-l3 s4"><%= comments[index].date %></p>
                        </div>
                        <div class="row container">
                            <input name= "commentId" type="hidden" value="<%= comments[index].id %>"/>
                            <p id = "body" class="col s12"><%= comments[index].body %></p>
                        </div>
                        <div class="row">
                            <p class="col s3 blue-text reply-btn" style="cursor: pointer; font-size: xx-smaller !important;"><i  class="material-icons tiny left">reply</i>Reply</p>
                        </div>
                    </div>
                    <% if (comments[index].replies.length >= 1) { %>
                        <p class="blue-text text-darken-3">Replies</p>
                        <br>
                        <% for( let j =0; j < comments[index].replies.length; j++ ) { %>
                            <div>
                                <div class = "row">
                                    <div class="row">
                                        <img src="img/header.jpg" class="col s2 circle" alt="reader-image">
                                        <div class="col s3">
                                            <p id = "name" class="col s12"><%= comments[index].replies[j].name %></p>
                                            <p class="col blue-text s12" id= "email"><%= comments[index].replies[j].email %></p>
                                        </div>  
                                        <p class="col offset-s3 offset-m3 offset-l3 s4"><%= comments[index].replies[j].date %></p>
                                    </div>
                                    <div class="row container">
                                        <input type="hidden" value="<%= comments[index].replies[j].id %>"/>
                                        <p class="col s12"><%= comments[index].replies[j].body %></p>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                    <hr style="border-bottom: 0.1px solid #ccc; background-color: transparent;" width="100%" />
                <% } %>      
            </div>      
        </div>
    </div>

    <div class="container">
        <h6 id="comment-header">Add Comment</h6>
        <div class="container">
            <div class="white add-comment">
                <div class="row">
                    <div class="col s12">
                        <p class="blue-text">Fields with * are mandatory</p>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="name">Name:<strong class="red-text">*</strong></label>
                                <input name="name" type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="email">Email:</label>
                                <input name="email" type="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <label for="body">Comment:<strong class="red-text">*</strong></label>
                                <textarea name="body" class="materialize-textarea"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s3">
                                <button class="btn red clear-btn">Clear</button>
                            </div>
                            <div class="col offset-s1 s3">
                                <input name="postId" type="hidden" value="<%= post.id %>"/>
                                <button id="add-comment-btn" class="btn-flat tranparent blue-text comment-btn">Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <script src="/js/script.js"></script>
<%- include('./include/end.ejs') %>