<%- include('../../include/head.ejs')  %>
<link rel="Stylesheet" href="/css/dashboard.css" />
<link rel="Stylesheet" href="/css/form.css" />
<link rel="Stylesheet" href="/css/notification-box.css" />
</head>
<body bgcolor="whitesmoke">
    <%- include('../../include/nav.ejs') %>
    <div class="<%= errorDetails.find(e => e.msg != undefined) ? 'alert' : ''%> <%= errorMessage == 'Operation Successful' ? 'success' : errorMessage == '' ? '' : 'fail' %>">
        <span  class="closebtn" >&times;</span>
        <% if (errorDetails.length >= 1) { %>
            <div class="row">
                <div class="col s12 m8 transparent">
                    <h6><%= errorMessage %> </h6>
                    <% for( let index = 0; index < errorDetails.length; index++ ) { %>
                        <p><%= errorDetails[index].msg %> </p>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
    <div class="container">
        <div class="container">
            <h5>Add Post</h5>
            <div class="white">
                <p class="red-text">Fill in the form appropriately to create your post</p>
                <div class="row">
                    <form action="/dashboard/posts/add-post" method="POST" class="col s12" encType="multipart/form-data">
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <label for="title">Post Title</label>
                                <input id="title" name="title" data-length="10" type="text">
                            </div>
                            <div class="input-field col s12 m6">
                                <label for="posttype">Post Type</label>
                                <select name="posttype">
                                  <option  class="blue-text text-darken-4" value="" disabled selected>Choose your option</option>
                                  <% for( let index = 0; index < cat.length; index++ ) { %>
                                    <option class="blue-text text-darken-4" value="<%= cat[index].id %> "><%= cat[index].category %> </option>
                                  <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l12">
                                <label for="imageUrl">Post Image</label>
                                <input name="imageUrl" type="file">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                              <label for="postbody">Post Body</label>
                              <textarea id="textarea1" name="postbody" class="materialize-textarea"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s3">
                                <button class="btn-flat transparent red-text text-darken-4">Cancel</button>
                            </div>
                            <div class="col offset-s1 s3">
                                <input type="submit" class="btn blue">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
    </div>
    

    <script src="/js/dashboardScript.js"></script>
<%- include('../../include/end.ejs') %> 